<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <h2 class='recent-work-title'>Connect with me</h2>
        <hr class='hr-divider'>
        <div class='row'>
          <div class='col-sm-6'>
            <div class='row'>
              <h3 class='about-title'>About</h3>
              <p class='about-content'>I love the craft of designing, prototyping and developing great user experiences.  Frequently, you will see me document with <a class='instagram-link' target='_blank' href="http://instagram.com/r23712" alt='instagram profile'>Instagram</a>, share my thoughts through <a class='twitter-link' target='_blank' href="https://twitter.com/r23712" alt='twitter profile'>Twitter</a>, listen to tunes in <a class='spotify-link' target='_blank' href="http://open.spotify.com/user/1256033585" alt='spotify profile'>Spotify</a>, work <a class='popsicle-link' target='_blank' href="http://www.popsiclelab.com" alt='popsicle lab profile'>Freelancing Projects</a>,  and show my "work-in-progress" on <a class='github-link' target='_blank' href="https://github.com/r23712" alt='github profile'>Github</a>.  I also co-lead Startups of Puerto Rico Co Working Days, and act as curator for their weekly events newsletter.</p>
              <h3 class='about-title'>Interests</h3>
              <p class='about-content'>When I'm not working on projects I love experimenting with new design and code techniques.  Oh I'm also a foodie advocate.</p>
            </div>
            <div class='row'>
              <ul class='social-icon-list'>
                <li class='social-icon'>
                  <a target='_blank' href="https://github.com/r23712" alt='github profile'>
                    <img src="{{ STATIC_URL  }}/images/github.png">
                  </a>
                </li>
                <li class='social-icon'>
                  <a target='_blank' href='http://open.spotify.com/user/1256033585' alt='spotify profile'>
                    <img src="{{ STATIC_URL  }}/images/spotify.png">
                  </a>
                </li>
                <li class='social-icon'>
                  <a target='_blank' href='http://instagram.com/r23712' alt='instagram profile'>
                    <img src="{{ STATIC_URL  }}/images/instagram.png">
                  </a>
                </li>
                <li class='social-icon'>
                  <a target='_blank' href='https://twitter.com/r23712' alt='twitter profile'>
                    <img src="{{ STATIC_URL  }}/images/twitter.png">
                  </a>
                </li>
              </ul>
            </div>
            <div class='row'>
              <div class='col-sm-12 resume-wrapper'>
                <a class='resume-btn' href="{{ STATIC_URL }}/images/resume.pdf" alt='download resume'>Resume</a>
              </div>
            </div>
          </div>
          <div class='col-sm-6'>
            <div class='row'>
              <div class='lastfm-wrapper'>
                <div class="lastfm-bg">
                  <h2 class='recent-work-title' style='margin: 0 0 20px;text-align:left;'>Listening to</h2>
                  <div id="lastfm">
                    <dl class='song-wrapper'>
                      <dt class="lfm_art"></dt>
                      <dd class="lfm_song"></dd>
                      <dd class="lfm_artist"></dd>
                      <dd class="lfm_album"></dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>