<footer id='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-xs-8'>
        <div class='col-md-5 col-xs-1'>
          <ul class='footer-menu'>
            <li class='footer-menu-list'><a href="#">Home</a></li>
            <li class='footer-menu-list'><a href="#">Work</a></li>
            <li class='footer-menu-list'><a href="#">About</a></li>
          </ul>
        </div>
        <div class='col-sm-2'>
          <div class='col-sm-12 col-xs-8'><img class='footer-mustache' src="{{ STATIC_URL }}/images/mustache.png"></div>
        </div>
        <div class='col-sm-5'>
          <ul class='footer-icons'>  
            <li class='footer-icons-list'>Handcrafted in Puerto Rico</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>