<header class='portfolio-header' style='height:628px;'>
  <div class='overlay'></div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 header-content-wrapper'>
        <div class='col-md-2'>
          <img class='profile-image' src="{{ STATIC_URL }}/images/profile.png">
        </div>
        <div class='col-md-10'>
          <h1 class='animated tagline bounceInDown'>I go by the name of <br><strong>Ryan.</strong></h1>
        </div>
        <div class='clearfix'></div>
      </div>
    </div>
  </div>
</header>