<section id='content'>
  <div class='container'>
    <div class='row'>
      <h2 class='recent-work-title'>Connect with me</h2>
      <hr class='hr-divider'>
      <div class='col-sm-12  recent-work'>
        <div class='col-sm-3'>
          <img src="{{ STATIC_URL }}/images/github.png">
        </div>
        <div class='col-sm-3'>
          <img src="{{ STATIC_URL }}/images/github.png">
        </div>
        <div class='col-sm-3'>
          <img src="{{ STATIC_URL }}/images/github.png">
        </div>
        <div class='col-sm-3'>
          <img src="{{ STATIC_URL }}/images/github.png">
        </div>
      </div>
    </div>
  </div>
</section>