<section id='content'>
  <div class='container'>
    <div class='row'>
      <h2 class='recent-work-title'>Some things about me</h2>
      <hr class='hr-divider'>
      <div class='col-sm-12  timetable-chronicle'>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='timetable-year'>
              <span>2013</span>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-6' style='width:46%;'>
            <div class='timetable-slot'>
              <div class='indicator right hidden-xs'>
                <div class='indicator-arrow indicator-arrow-blue'></div>
                <div class='indicator-icon'>
                  <img src="{{ STATIC_URL }}/images/blimp-logo.png">
                </div>
              </div>
              <h3 class='timeslot-title timeslot-title-blue'>Started Internship with Blimp</h3>
              <p class='timeslot-text'>After doing freelance for a year decided to join forces with Blimp as a User Experience and Web Developer interim.  It was just an awesome experience.</p>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='timetable-year'>
              <span>2012</span>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-6 col-sm-offset-6' style='width:46%;margin-left:54%;'>
            <div class='timetable-slot'>
              <div class='indicator left hidden-xs'>
                <div class='indicator-arrow indicator-arrow-pinky'></div>
                <div class='indicator-icon'>
                  <img src="{{ STATIC_URL }}/images/popsicle-logo.png">
                </div>
              </div>
              <h3 class='timeslot-title timeslot-title-pinky'>Leaving DigitalTree to Freelance</h3>
              <p class='timeslot-text'>It was either move to New York or go freelancing.  Freelancing felt right at the time after consulting with close friends.</p>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-6' style='width:46%;'>
            <div class='timetable-slot'>
              <div class='indicator right hidden-xs'>
                <div class='indicator-arrow indicator-arrow-blue'></div>
                <div class='indicator-icon' style='margin-right:-45px;'>
                  <img src="{{ STATIC_URL }}/images/digitaltree-logo.png">
                </div>
              </div>
              <h3 class='timeslot-title timeslot-title-blue'>Started Internship with DigitalTree</h3>
              <p class='timeslot-text'>After graduating college I joined forces with DigitalTree as their front-end developer intern in Dorado, Puerto Rico.  I'm thrilled for this opportunity.</p>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='timetable-year no-bottom'>
              <span>+</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>